/* App.css */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #eee; /* Siva pozadina */
  height: 100%;
}

#root {
  height: 100%;
  background-color: #eee; /* Siva pozadina za cijeli root */
}
